@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
:root {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;

    --primary-colour: #74B5C5;
    --secondary-colour: #5BA199;
    --contrast-colour: #fcd474;
    --background-colour: #FFFFFF;
    --text-colour: #144648;
}


body {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    background-color: var(--background-colour);
}

/* Utility classes */
.btn {
    text-decoration: none;
    color: var(--text-colour);
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
}

.btn:hover {
    background-color: var(--secondary-colour);
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    box-shadow: #AABBAA 0px 2px 5px;
}

.navbar-logo {
    background-color: var(--primary-colour);
    padding: 1rem;
}

.navbar-logo-text {
    font-family: 'Macondo', cursive;
    font-size: 4rem;
    font-variant: small-caps;
    color: var(--background-colour);
    text-decoration: none;
}

.navbar-menu {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    font-size: 2rem;
}

.navbar-menu-item {
    display: inline;
    margin-left: 2rem;
    padding: 0.5rem 0.5rem;
}

.navbar-menu-item:hover {
    border-bottom: 2px solid var(--contrast-colour);
    border-top: 2px solid var(--contrast-colour);
}

.navbar-menu-link {
    text-decoration: none;
    color: var(--text-colour);
}

.navbar-login-btn {
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-colour);
    margin-right: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}

.navbar-login-btn:hover {
    background-color: var(--primary-colour);
    color: var(--background-colour);
}

/* Ab hier projects */

.projects {
    display: flex;
}

.project {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
    width: 20rem;
    padding: 1rem;
    margin: 1rem;
}

.project-img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.project-name {
    font-weight: bold;
    text-decoration: none;
    color: var(--text-colour);
    margin-top: 1rem;
}
.project-name:hover {
    text-decoration: underline;
}

.project-user {
    font-weight: 300;
    text-decoration: none;
    color: var(--text-colour);
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.project-user:hover {
    text-decoration: underline;
}

.project-pattern {
    font-weight: 400;
    text-decoration: none;
    color: var(--text-colour);
    margin-top: 0.5rem;
}
.project-pattern:hover {
    text-decoration: underline;
}

/* Ab hier pattern */
.pattern-search-container {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%
    padding: 4rem;
}

.pattern-search {
    margin-left: 1rem;
}

.pattern-search-input-container {
    margin-top: 1rem;
}

.pattern-search-input {
    padding: 1rem 0.5rem;
}

.patterns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.pattern-search-result {
    padding: 10px;
    margin: 10px;
}

/* for detailed pattern (single page) */
.pattern-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-flow: wrap;
    font-size: 1.6rem;
}

.pattern {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 4px grey;
    width: 200px;
    height: 250px;
    padding: 10px;
    margin: 10px;
}

.pattern-name {
    font-weight: bold;
    text-decoration: none;
    color: var(--text-colour);
    margin-top: 1rem;
}
.pattern-name:hover {
    text-decoration: underline;
}

.pattern-publisher {
    font-weight: 300;
    text-decoration: none;
    color: var(--text-colour);
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.pattern-img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.pattern-details {
}

.pattern-fabric {
    text-decoration: none;
}

pattern-fabric-length {
    text-decoration: none;
}

.pattern-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 4px grey;
    width: 60%;
    padding: 10px;
    margin: 10px;
}

/* user */
.user-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 4px grey;
    width: 60%;
    padding: 10px;
    margin: 10px;
}




/* Ab hier was anderes */