<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My card fragments!</title>
    <link rel="stylesheet" href="../../static/main.css">
</head>
<body>
<div class="project" th:fragment="project(project)">
    <img class="project-img"
         th:src="${project.imgUrl}"
         src="https://clipart-library.com/newhp/kissclipart-white-clothing-black-dress-line-art-96933c1b56d3f716.png"
         alt="An image for the project">
    <a class="project-name"
       href=""
       th:href="|/project/${project.id}|"
       th:text="${project.name}">
        My Awesome Project
    </a>
    <a class="project-user"
       href=""
       th:text="${project.user}">
        Example User
    </a>
    <a class="project-pattern"
       href=""
       th:href="|/pattern/${project.patternId}|"
       th:text="${project.pattern}">
        A cool Pattern
    </a>
</div>

<div class="pattern" th:fragment="pattern(pattern)">
    <a class="pattern-name"
       href=""
       th:href="|/pattern/${pattern.id}|"
       th:text="${pattern.name}">
        My Fancy Pattern
    </a>

<!-- da ich Bilder sehen will muss ich leider das inline frame übr google drive benutzen, sonst sehe ich nichts.    -->
    <iframe class="pattern-img"
            th:src="${pattern.img_url}"
            src="https://drive.google.com/file/d/1ImSFvCqlPdk4naYRrMP49NnSDX5-Swd_/preview"
            alt="An image for the project"
            allow="autoplay">
    </iframe>

<!-- urprünglicher code
    <img class="pattern-img"
         th:src="${pattern.img_url}"
         src="https://drive.google.com/file/d/1ImSFvCqlPdk4naYRrMP49NnSDX5-Swd_/preview"
         alt="An image for the project">
-->
    <a class="pattern-publisher" href="" th:text="${pattern.publisher}">
        Pattern Publisher
    </a>
</div>

</body>
</html>