<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pattern Search</title>
  <link rel="stylesheet" href="/static/main.css" media="screen">
</head>
<body>

<nav class="navbar-top" th:fragment="header">

  <div class="navbar-header">
    <a class="navbar-brand" href="/">WebsiteName</a>
  </div>

  <ul class="navbar-nav">
    <li>
      <a class="nav-link" href="/project">Projects</a>
    </li>
    <li>
      <a class="nav-link" href="/pattern">Patterns</a>
    </li>
  </ul>

</nav>

</body>
</html>