<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pattern Search</title>
    <link rel="stylesheet" th:href="'/static/main.css'" href="../static/main.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="pattern-search-container">
    <form class="pattern-search">
        <label for="pattern-search">Search:</label>
        <div class="pattern-search-input-container">
            <input
                    class="pattern-search-input"
                    id="pattern-search"
                    name="pattern-search"
                    type="text"
                    placeholder="Search term"
            >
            <button type="submit" class="btn">Search</button>
        </div>
    </form>
    <section class="pattern-create-btn">
        <a href="/pattern/create" class="btn">
            + Add new pattern
        </a>
    </section>
    <section class="pattern-search-result">
        <div class="patterns">
            <div th:each="pattern : ${patterns}"
                 th:insert="~{fragments/cards :: pattern(${pattern})}"
                 th:remove="tag">
                Here's the list of patterns
            </div>
        </div>
    </section>
</div>
</body>
</html>
