<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Awesome Pattern Page!</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}">&nbsp;</div>
<main>

    <div class="pattern-container">
        <div class="pattern-image">
            <img class="pattern-img"
                 src="https://www.burdastyle.de/media/catalog/product/cache/769afddc87bd82b6de6c6e6e5f3b4aaf/H/K/HKAT_5841_2024FS_Heft_1.jpg"
                 alt="An image for the project">
        </div>
        <div class="pattern-details">
            <h2 class="pattern-details__name"
                th:text="${pattern.name}">My Fancy Pattern</h2>
            <table>
                <tbody>
                <tr>
                    <td>Publisher</td>
                    <td th:text="${pattern.publisher}">Burda</td>
                </tr>
                <tr>
                    <td>Fabrics</td>
                    <td>
                        <ul th:each="fabric : ${pattern.patternFabric}">
                            <li th:text="|${fabric.fabric_type} - ${fabric.length}|">Silky Milky - 5,30m</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>
                        <ul th:each="clothingType : ${pattern.clothingType}">
                            <li th:text="${clothingType.name}">Jeans</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pattern-details__description" th:text="'Beschreibungstext'">
                Echte Allrounder für den Frühling nähst du mit diesem Schnittmuster-Set! Mit Hemdkragen und eingereihtem
                Rockteil hat dieses Kleid sowohl klassische als auch feminine Elemente und eignet sich so für wirklich
                jeden
                Anlass. Auch die Tunika kann damit glänzen und kann so für verschiedenste Looks gestylt werden. Näh dir
                diese curvy Schnitte bis Größe 60 jetzt selbst!
            </div>
        </div>
    </div>

    <h2>Recently finished projects using this pattern</h2>
    <div class="pattern-projects">
        <div th:each="project : ${projects}" th:insert="~{fragments/cards :: project(${project})}"
             th:remove="tag"></div>
    </div>
</main>
</body>
</html>
