<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pattern Search</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<h1>Patterns:</h1>

<div class="pattern-search-container">
    <section class="pattern-search">
        <p>Search:</p>
    </section>
    <section class="pattern-search-result">
        <p>Results:</p>
        <div class="patterns">
            <div th:each="pattern : ${patterns}"
                 th:insert="~{fragments/cards :: pattern(${pattern})}"
                 th:remove="tag">
                Here's the list of patterns
            </div>
        </div>
    </section>
</div>
</body>
</html>
